* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  color: black;
}

html {
  font-size: 62.5%;
}

body {
  height: 100vh;
}

.form-signin {
  padding-top: 5vh;
}

.passw {
  padding-top: 1vh;
}

header {
  display: flex;
  align-items: center;
  padding: 1.5rem 0.5rem;
  border-bottom: 1px solid rgba(211, 211, 211, 0.5);
  background-color: rgb(255, 250, 233);
}

header span {
  /* font-size: 100%; */
  margin-left: 1vh;
}

.userIcons {
  display: flex;
  align-items: center;
  position: absolute;
  right: 5%;
}

.userIcons span,
h3 {
  /* margin: 0 0.5vh; */
}

.userIcons a {
  margin: 0 0.5vh;
  text-decoration: none !important;
  color: black;
  font-size: 16px;
}

header h3 {
  margin-bottom: 0px !important;
}

header a {
  text-decoration: none;
}

.icon-exit {
  margin-top: 0.8vh !important;
}

.btnPackGroup {
  padding-top: 3vh;
}

.btnPack {
  font-size: 1.5rem !important;
  background-color: #cccccc !important;
  margin-top: 1vh;
}
.form-control,
.icon-camera,
.btn-success,
.btn-danger {
  font-size: 1.5rem !important;
}

.effect {
  padding-top: 3vh;
  overflow: hidden;
  height: 70vh;
  display: none;
}

.icon-keyboard_arrow_left {
  font-size: 30px !important;
}

.input-group {
  width: 92% !important;
  padding: 5px 0;
}

form {
  position: relative;
  top: 20%;
}
header span {
  font-size: 16px;
  margin-left: 1vh;
}

.userIcons {
  display: flex;
  align-items: center;
  position: absolute;
  right: 5%;
}

.userIcons span,
h3 {
  margin: 0 0.5vh;
}

header h3 {
  margin-bottom: 0px !important;
}

header a {
  text-decoration: none;
}

.icon-exit {
  margin-top: 0.8vh !important;
}

.btnPackGroup {
  padding-top: 3vh;
}

.btnPack {
  background-color: #cccccc !important;
  margin-top: 1vh;
}

.centrar {
  display: flex;
  justify-content: center;
  align-items: center;
}

#main-repartidor {
  background-color: rgb(255, 250, 233);
}

#mapa {
  width: 100%;
  height: 85vh;
  background: lightgrey;
  z-index:1;
}

.llistar-paquets {
  width: 5rem;
  aspect-ratio: 1 / 1;
  position: absolute;
  top: 8rem;
  right: 2rem;
  z-index: 10;
  border-radius: 50%;
}

.llistar-paquets span {
  font-size: 3rem;
}

.llista-paquets p, select {
  font-size: 2rem;
}

.llista-paquets {
  z-index: 5;
}

.llista-paquets span {
  font-size: 2.5rem;
}

.hidden {
  display: none;
}

#imatge {
  height: 100%;
  width: 100%;
}

/* fer un div amb   transition: width 0.5 al clicar el boto per afefr o midificar paquet */
/* GEADER */